In [ ]:
pip install azure-cognitiveservices-language-luis

In [ ]:
from azure.cognitiveservices.language.luis.authoring import LUISAuthoringClient
from azure.cognitiveservices.language.luis.authoring.models import ApplicationCreateObject, ApplicationInfoResponse, EntityLabelObject, ExampleLabelObject
from azure.cognitiveservices.language.luis.runtime import LUISRuntimeClient
from msrest.authentication import CognitiveServicesCredentials
from functools import reduce

import json, time

# Charger le fichier json

In [ ]:
import json
with open('/content/drive/MyDrive/Colab Notebooks/P10/data/frame1.json', 'r') as f:
    frames_dict = json.load(f)

# Charger les phrases et les entitées

In [ ]:
def listEntity(text, val, key ):
    try :
        dst_start = text.index(val)
        dst_end = dst_start + len(val) -1
        entity_label = EntityLabelObject(entity_name=key, start_char_index=dst_start, end_char_index=dst_end,)
        
        print(text, key, val, dst_start, dst_end)
        return entity_labels.append(entity_label)
    except ValueError :     
            print('val not in text.')

In [ ]:
df1 = pd.DataFrame(columns =['text','or_city','dst_city', 'budget', 'str_date', 'end_date'])
df1['text']='abd'
df1.head()

Empty DataFrame
Columns: [text, or_city, dst_city, budget, str_date, end_date]
Index: []

In [ ]:
len(frames_dict['turns'][str(0)])

7

In [ ]:
import sys 
import pandas as pd
import numpy as np

df = pd.DataFrame(columns =['text','or_city','dst_city', 'budget', 'str_date', 'end_date'])
print('*'*8)
try :
    lstEntities = ['budget', 'dst_city', 'or_city', 'str_date', 'end_date']
    print('*'*8)
    for i in range (0,1000):
        print('*'*8)
        len_i = len(frames_dict['turns'][str(i)])
        print('*'*8)
        for t in range(0,len_i):
            # Text
            text = frames_dict['turns'][str(i)][t]['text']
            df1 = pd.DataFrame(data=[{'text' : text, 'or_city' : pd.np.nan,'dst_city' : pd.np.nan , 'budget' : pd.np.nan, 'str_date' : pd.np.nan, 'end_date' : pd.np.nan} ]
                               ,columns =['text','or_city','dst_city', 'budget', 'str_date', 'end_date'])
            print('*',text)
            entity_labels = []
            copie = False
            # Entity
            len_acts = len(frames_dict['turns'][str(i)][t]['labels']['acts'])
            for a in range(0, len_acts):
                #key
                forError =  frames_dict['turns'][str(i)][t]['labels']['acts'][a]
                len_args = len(frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'])
                for arg in range(0,len_args):
                        #print('1')
                        key = frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg]['key']
                        if key in lstEntities :
                            if 'val' in frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg] :
                                if frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg]['val'] != None:
                                    val = frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg]['val']
                                    print('+' + key , ':', val)
                                    ##
                                    print('*'*5)
                                    df1[key]=val
                                    copie =True              

                        if key =='ref':
                            len_anno = len(frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg]['val'])
                            for anno in range(0,len_anno):
                                finalkey = frames_dict['turns'][str(i)][t]['labels']['acts'][a]['args'][arg]['val'][anno]['annotations']
                                len_cu = len(finalkey)
                                for an in range(0,len_cu):
                                    #print('current : ',finalkey )
                                    b = finalkey[an]
                                    if 'val' in b :
                                        if finalkey[an]['key'] in lstEntities :
                                            if finalkey[an]['val'] != None:
                                                key = finalkey[an]['key']
                                                val = finalkey[an]['val']
                                                #print('current : ',finalkey[an] )
                                                print( '-',key, ':', val)
                                                print('*'*10)
                                                df1[key]=val
                                                copie =True
                print('** copie', copie)
                if copie: 
                    print('entity_labels add ')
                    df = pd.concat([df,df1])
                     

except Exception:
    e = sys.exc_info()[1]
    print(sys.exc_info())
    print('ERROR' , e.args[0])
    #print('ERROR : ',forError)
    #print('Error :',i,t,a,arg,anno,an)

In [ ]:
df.head()

                                                text  ... end_date
0  I'd like to book a trip to Atlantis from Capri...  ...      NaN
0  Yes, how about going to Neverland from Caprica...  ...      NaN
0  I have no flexibility for dates... but I can l...  ...      NaN
0  I have no flexibility for dates... but I can l...  ...      NaN
0  Hello, I am looking to book a vacation from Go...  ...      NaN

[5 rows x 6 columns]

In [ ]:
df.describe()

        text     or_city    dst_city budget     str_date end_date
count   8925        2599        5387    966         3009     2190
unique  6511         334         408    345          453      381
top       no  Punta Cana  Punta Cana     -1  August 27th       -1
freq      10          48         151    177          125       78

# Drop duplicate

In [ ]:
# length after adding row
length2=  len(df)
  
# sorting by first name
df.sort_values("text", inplace=True)
  
# dropping duplicate values
df.drop_duplicates(keep=False,inplace=True)
  
# length after removing duplicates
length3=len(df)
  
# printing all data frame lengths 
print( length2, length3)

8925 5947

# Value -1

In [ ]:
df['budget'][df['budget']==-1]= pd.np.nan
df['str_date'][df['str_date']==-1]= pd.np.nan
df['end_date'][df['end_date']==-1]= pd.np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/df.csv',index=None)

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/df.csv')

In [ ]:
df.head()

                                                text  ...       end_date
0                                 August 27 & sept 6  ...         sept 6
0   Hotel Regal Time has packages from Sept 17-20...  ...             20
0   How about Denver? I have a 12 day package tha...  ...           20th
0   I can tell you about an exciting vacation pac...  ...            NaN
0   I found one result for Fukuoka. This is a 3 s...  ...  September 7th

[5 rows x 6 columns]

## Split train test

In [ ]:
len(df) #70%   4147   30% 1800

5947

In [ ]:
df_test = df[4147:5947]
len(df_test)

1800

In [ ]:
df = df[0:4147]
len(df)

4147

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/data.csv',index=None)
df_test.to_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/df_test.csv',index=None)

# Load data Train et Test

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/data.csv')
df_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/P10/data/df_test.csv')

# Build Test json : 


*   Can not excede 1000 in Luis
*   The query length cannot exceed the limit 500.

In [ ]:
df_test = df_test[0:499]
len(df_test)

499

In [ ]:
def create_utterance(intent, utterance, *labels):
    """Add an example LUIS utterance from utterance text and a list of
       labels.  Each label is a 2-tuple containing a label name and the
       text within the utterance that represents that label.

       Utterances apply to a specific intent, which must be specified."""

    text = utterance.lower()

    def label(name, value):
        value = value.lower()
        start = text.index(value)
        return dict(entity_name=name, start_char_index=start,
                    end_char_index=start + len(value))

    return dict(text=text, intent_name=intent,
                entity_labels=[label(n, v) for (n, v) in labels])

In [ ]:
import numpy as np
import pandas as pd

utterances = []
lnan = ['nan', 'NaN', '',np.nan, pd.np.nan, '-1']
# or_city	dst_city	budget	str_date	n_adults
n=0
for index, row in df_test.iterrows():
    n+=1
    if n>=0:
        print(n, row.text, n)
        if row.or_city not in lnan:
            a=create_utterance('book',row.text,('or_city',row.or_city))
        if row.dst_city not in lnan :
            #print(row.dst_city)
            a=create_utterance('book',row.text,('dst_city',row.dst_city))
        if row.budget not in lnan :
            a=create_utterance('book',row.text,('budget',row.budget))
        if row.str_date not in lnan:
            #print('str_data', row.str_date)
            a=create_utterance('book',row.text,('str_date',row.str_date))
        if row.end_date not in lnan :
            print('end_date',row.end_date)
            try :
                a=create_utterance('book',row.text,('end_date',row.end_date))
            except ValueError:
                print('Error end_date',row.end_date)
        utterances.append(a)

In [ ]:
y = json.dumps(utterances)

y = y.replace('entity_labels','entities')
y = y.replace('intent_name','intent')
y = y.replace('end_char_index','endPos')
y = y.replace('start_char_index','startPos')
y = y.replace('entity_name','entity')
my_json = json.loads(y)

In [ ]:
import json
with open('/content/drive/MyDrive/Colab Notebooks/P10/data/my_test.json', 'w+') as f:
        json.dump(my_json, f)

# Test LUIS  100, 500, 1000, 2500, 5000 utterances

## **The app**

In [ ]:
authoringKey = '27c8037609e64e908a3cc829433e4437' 
authoringEndpoint = 'https://luisflyme02-authoring.cognitiveservices.azure.com/'

predictionKey = '89e83467803742a1a99a48603604b4c5'
predictionEndpoint = 'https://luisflyme02.cognitiveservices.azure.com/'

appName = "flyme02app"
app_version = "0.1"
intentName = "book"
app_id ='bf408bed-468d-4d08-aafd-77e84acd9643'

client = LUISAuthoringClient(authoringEndpoint, CognitiveServicesCredentials(authoringKey))

## Créer une intention pour l’application

In [ ]:
client.model.add_intent(app_id, versionId, intentName)

'4880e9bd-945f-4d49-a6e1-f9fcfd435c1c'

## Créer des entités pour l’application

In [ ]:
lstEntities = ['budget', 'dst_city', 'or_city', 'str_date', 'end_date']
for entity in lstEntities:
    a = client.model.add_entity(app_id, app_version, name=entity)
    print("EntityId {} added.".format(a))

## Créer les utterances

In [ ]:
import numpy as np
import pandas as pd

utterances = []
lnan = ['nan', 'NaN', '',np.nan, pd.np.nan, '-1']

n=0
for index, row in df.iterrows():
    n+=1
    if n>=0:
        #print(n, row.text, n)
        if row.or_city not in lnan:
            a=create_utterance('book',row.text,('or_city',row.or_city))
        if row.dst_city not in lnan :
            #print(row.dst_city)
            a=create_utterance('book',row.text,('dst_city',row.dst_city))
        if row.budget not in lnan :
            a=create_utterance('book',row.text,('budget',row.budget))
        if row.str_date not in lnan:
            #print('str_data', row.str_date)
            a=create_utterance('book',row.text,('str_date',row.str_date))
        if row.end_date not in lnan :
            try :
                a=create_utterance('book',row.text,('end_date',row.end_date))
            except ValueError:
                print('Error end_date',row.end_date)
        utterances.append(a)
    if n%100==0:
        client.examples.batch(app_id, app_version, utterances)
        add_utterances(app_id, app_version)
        utterances = []
    if n>= 5000:  #500, 1000, 2500, 5000 
        break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """

Error end_date Wednesday Sept 14

# Train

In [ ]:
response = client.train.train_version(app_id, app_version)
waiting = True
while waiting:

    info = client.train.get_status(app_id, app_version)
	waiting = any(map(lambda x: 'Queued' == x.details.status or 'InProgress' == x.details.status, info))
	if waiting:
		print ("Waiting 30 seconds for training to complete...")
		time.sleep(30)

# Publish

In [ ]:
responseEndpointInfo = client.apps.publish(app_id, app_version, is_staging=True)